# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_product:  mysql # mariadb
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    database_name_ayso: ayso
    database_name_test: ng2019test

    database_name_ng2019: noc2018
    database_name_ng2019games: noc2018games
    database_name_ng2019test: ng2019test

    mailer_transport:  gmail
    mailer_user:       ~
    mailer_password:   ~
    mailer_disable_delivery: false
    mailer_delivery_address: dev@fake.com # Need something to prevent depreciation notices

    secret:            ThisTokenIsNotSoSecretChangeIt

    cerad_user_master_password: zayso

    secure_routes:     true # If true, Process _role parameter in routes

    show_header_image: true
    show_schedules_menu: true
    show_results_menu: true
    show_user_menu: true
    show_final_results: false
