parameters:
    provider_google_client_id:     ''
    provider_google_client_secret: ''

    provider_facebook_client_id:     ''
    provider_facebook_client_secret: ''

    user_authen_providers:

        google:
            state: 'google'
            class: 'AppBundle\Action\Project\User\Provider\GoogleProvider'
            scope: 'openid profile email'
            keys:
                id:             id
                name:           name
                email:          email
                email_verified: verified_email
                gender:         gender

            user_info_url:     'https://www.googleapis.com/oauth2/v2/userinfo'
            access_token_url:  'https://accounts.google.com/o/oauth2/token'
            authorization_url: 'https://accounts.google.com/o/oauth2/auth'

            client_id:     ''
            client_secret: ''

        facebook:
            state: 'facebook'
            class: 'AppBundle\Action\Project\User\Provider\FacebookProvider'
            scope: 'email'
            keys:
                id:             id
                name:           name
                email:          email
                email_verified: verified
                gender:         gender

            user_info_url:     'https://graph.facebook.com/me'
            access_token_url:  'https://graph.facebook.com/oauth/access_token'
            revoke_token_url:  'https://graph.facebook.com/me/permissions'
            authorization_url: 'https://www.facebook.com/dialog/oauth'

            client_id:     ''
            client_secret: ''
