.panel {
  margin: 10px;
  line-height: 2em;
}
.panel-float-left {
    float: left;
    height: 260px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
 }
 
.panel-float-clear {
    clear: both;
 }
 
 legend { font-size: 16px; font-weight:bold; margin-top: 1em; }
 
 .entry { margin-left:5px; margin-top: 5px; margin-bottom: 5px;}
 
 .row { margin-bottom: 0.5em; margin-top: 0.5em; }
 
 .row label.text-center, .row p.text-center  { text-align: center !important }

.no-disc li { list-style: none }